.body {
    display: none;
}

.body.on {
    display: block;
}

/* current card */
.current-card {
    max-width: 500px;
    margin: 0 auto 5px auto;
    padding: 20px 0px 40px 0px;

    background: linear-gradient(to bottom, #88C198, #1F83A3);
    border-radius: 10px;
}

.card__city-name {
    margin: 0px auto 40px auto;

    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: azure;
}

.card__current-indicators {
    margin: 0px auto;

    display: flex;
    justify-content: space-around;
}

.current-indicators__humidity {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: azure;
}

.current-indicators__temp {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    color: azure;
}

.current-indicators__feeling {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: azure;
}

.temp__variety {
    font-weight: 400;
    font-size: 40px;
}

.card__wind-speed {
    margin: 0px auto 10px auto;

    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: azure;
}

.card__condition {
    margin: 0px auto 10px auto;

    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: azure;
}

.icon__image {
    display: block;
    width: 120px;
    margin: 0 auto;
}

/* future card */
.future-card {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    height: 200px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;

    background: linear-gradient(to bottom, #1F83A3, #88C198);
    border-radius: 10px;
}

.item__temp {
    margin: 0px 0px 10px 0px;

    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: azure;
}

.item__icon {
    margin: 0px 0px 10px 0px;
}

.item__image {
    display: block;
    width: 40px;
    margin: 0 auto;
}

.item__wind-speed {
    margin: 0px 0px 20px 0px;

    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: azure;
}

.item__time {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: azure;
}